.main-board {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
}

.main-content {
  flex: 1;
  display: grid;
  grid-template-columns: 350px 870px;
  gap: 40px;
  padding: 15px 30px;
  justify-content: center;
  overflow-x: hidden;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.class-button-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}
