spring:
  application:
    name: gbswer
  config:
    import: optional:file:.env.local[.properties]

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  servlet:
    encoding:
      charset: UTF-8
      force: true
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379
      password: ${REDIS_PASSWORD}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 3600000
  refresh-expiration-ms: 86400000

file:
  upload-dir: ${FILE_UPLOAD_DIR}
  type: ${FILE_TYPE}

server:
  url: ${SERVER_URL:http://localhost:8080}


verification:
  code:
    expiration-minutes: 5

neis:
  api:
    key: d0bb18c4c6d5402c9b7d38f4bff96e95
    atpt-code: R10
    school-code: 8750829
    url: https://open.neis.go.kr/hub/mealServiceDietInfo
    schedule-url: https://open.neis.go.kr/hub/SchoolSchedule
    timetable-url: https://open.neis.go.kr/hub/hisTimetable

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: when-authorized

